.app {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 2400px;
  max-height: 100vh;
  margin: 0 auto;
}

.header-site-content{
  display: flex;
  flex-direction: column;
  width: 100%;
}